
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: #202123;
    color: white;
    font-family: 'Open Sans', sans-serif;
}


body{
   height: 100%;
   width: 100%;
   position: absolute;
}

.tudo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


.container {
    height: 100%;
    width: 100%;
    align-content: flex-start; 
}

.maincontainer {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
}
.titulo{
    font-size: large;
}

.titulos {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 2rem;
    gap: 2rem;
    
}

.titulo_principal {
    width: 65%;
    font-size: 60px;
}

.listas {
    margin-left: 3.5rem;
    margin-top: 2rem;
}


.palavras {
    font-size: 13px;
}

.titulo_sub{
  font-size: 2rem;
  font-weight: 200;
}


.wrap {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: #32CD32;
  background: linear-gradient(90deg, #32CD32 0%, #32CD32 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(50,205,50,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(100% + 12px);
    min-height: calc(100% + 12px);
    border: 6px solid rgb(13, 231, 13);
    box-shadow: 0 0 60px rgba(50,205,50,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: whitesmoke;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  .footer{
    text-align: center;
    margin-bottom: 0px;   
    width: 100%;
}

@media (max-width:425px){
    .footer{
        margin-top: 7rem;
    }
}


.green-dot{
  color: #32CD32;
  font-size: 1.7rem;  
}

.vantagem{
  color: white;
}
